@font-face {
  font-family: 'TTNormsPro-Regular', sans-serif;
  src: url(../../resources/fonts/TTNormsPro-Regular.woff);
  src: url(../../resources/fonts/TTNormsPro-Regular.woff2);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'TTNormsPro-Medium', sans-serif;
  src: url(../../resources/fonts/TTNormsPro-Medium.woff);
  src: url(../../resources/fonts/TTNormsPro-Medium.woff2);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'TTFirsNeue-DemiBold', sans-serif;
  src: url(../../resources/fonts/TTFirsNeue-DemiBold.woff);
  src: url(../../resources/fonts/TTFirsNeue-DemiBold.woff2);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'TTNormsPro-Bold', sans-serif;
  src: url(../../resources/fonts/TTNormsPro-Bold.woff);
  src: url(../../resources/fonts/TTNormsPro-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'TTNormsPro-ExtraBold', sans-serif;
  src: url(../../resources/fonts/TTNormsPro-ExtraBold.woff);
  src: url(../../resources/fonts/TTNormsPro-ExtraBold.woff2);
  font-weight: 800;
  font-display: swap;
}

