<footer class="footer">
   <div class="container">
      <div class="footer__inner">
         <div class="footer__header">
            <a class="logo" href="#">
               <img class="logo__img" src="img/logo.png" alt="">
            </a>

            <div class="footer__header-subtitle">ООО "BaltGaz" 2021</div>
         </div>

         <nav class="footer__menu">
            <ul class="footer__menu-list">
               <li class="footer__menu-item">
                  <h5 class="footer__menu-title">Разделы сайта</h5>
               </li>

               <li class="footer__menu-item">
                  <a class="footer__menu-link" href="#">О компании</a>
               </li>
               <li class="footer__menu-item">
                  <a class="footer__menu-link" href="#">Услуги</a>
               </li>
               <li class="footer__menu-item">
                  <a class="footer__menu-link" href="#">Раскрытие информации</a>
               </li>
               <li class="footer__menu-item">
                  <a class="footer__menu-link" href="#">Абонентам</a>
               </li>
               <li class="footer__menu-item">
                  <a class="footer__menu-link" href="#">Наши объекты</a>
               </li>
               <li class="footer__menu-item">
                  <a class="footer__menu-link" href="#">Новости</a>
               </li>
               <li class="footer__menu-item">
                  <a class="footer__menu-link" href="#">Контакты</a>
               </li>
            </ul>
         </nav>


         <div class="footer__menu">
            <ul class="footer__menu-list">
               <li class="footer__menu-item">
                  <h5 class="footer__menu-title">Реквизиты</h5>
               </li>

               <li class="footer__menu-item">ООО "Пром Импульс"</li>
               <li class="footer__menu-item">ОГРН: 1053600591197</li>
               <li class="footer__menu-item">ИНН: 3664069397</li>
               <li class="footer__menu-item">КПП: xxxxxxxxx</li>
               <li class="footer__menu-item">ПФР: xxxxxxxxxxxx</li>
               <li class="footer__menu-item">ОКПО: xxxxxxxx</li>
               <li class="footer__menu-item">ФСС: xxxxxxxxxxxxxxx</li>
               <li class="footer__menu-item">ОКАТО: xxxxxxxxxxx</li>
               <li class="footer__menu-item">ОКТМО: xxxxxxxx</li>
               <li class="footer__menu-item">ОКОГУ: xxxxxxx</li>
               <li class="footer__menu-item">ОКФС: xxxxxxx</li>
               <li class="footer__menu-item">ОКОПФ: xxxxx</li>
            </ul>
         </div>

         <div class="footer__menu">
            <ul class="footer__menu-list">
               <li class="footer__menu-item">
                  <h5 class="footer__menu-title">Тел./факс:</h5>
               </li>
               <li class="footer__menu-item">
                  <a class="footer__menu-link  footer__menu-link--tel" href="tel:+78126037388">+7 (812) 603-73-88</a>
               </li>

               <li class="footer__menu-item">
                  <h5 class="footer__menu-title  footer__menu-title--mt2r">Адрес</h5>
               </li>
               <li class="footer__menu-item">
                  <a class="footer__menu-link" href="#">196084, г. Санкт-Петербург,
                     ул. Рощинская, д. 1, лит. И</a>
               </li>

               <li class="footer__menu-item">
                  <h5 class="footer__menu-title  footer__menu-title--mt2r">Email:</h5>
               </li>
               <li class="footer__menu-item">
                  <a class="footer__menu-link" href="mailto:yourmail@company.com">yourmail@company.com</a>
               </li>

               <li class="footer__menu-item">
                  <h5 class="footer__menu-title  footer__menu-title--mt2r">График работы:</h5>
               </li>
               <li class="footer__menu-item">Понедельник-Пятница
                  08:00 - 19:00</li>
            </ul>
         </div>

      </div>


   </div>
   <div class="footer-bottom">
      <div class="container">
         <ul class="footer-bottom__list">
            <li class="footer-bottom__item">
               <a class="footer-bottom__link" href="#">Карта сайта</a>
            </li>
            <li class="footer-bottom__item">
               <a class="footer-bottom__link" href="#">Обработка персональных данных</a>
            </li>
            <li class="footer-bottom__item">
               <a class="footer-bottom__link" href="#">Политика конфиденциальности</a>
            </li>
            <li class="footer-bottom__item">
               <a class="footer-bottom__link" href="#">Разработка: Design Studio</a>
            </li>
         </ul>
      </div>

   </div>
</footer>
