<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" src="img/logo.png" alt="">
      </a>

      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-list__item">
            <a class="menu-list__link" href="#">О компании
              <svg class="menu-list__icon">
                <use href="#arrow-down"></use>
              </svg>
            </a>

            <ul class="menu-sublist">
              <li class="menu-sublist__item">
                <a class="menu-sublist__link" href="#">О нас</a>
              </li>
              <li class="menu-sublist__item">
                <a class="menu-sublist__link" href="#">Реквизиты</a>
              </li>
              <li class="menu-sublist__item">
                <a class="menu-sublist__link" href="#">Закупки</a>
              </li>
              <li class="menu-sublist__item">
                <a class="menu-sublist__link" href="#">Партнеры</a>
              </li>
              <li class="menu-sublist__item">
                <a class="menu-sublist__link" href="#">Лицензии</a>
              </li>
            </ul>
          </li>

          <li class="menu-list__item">
            <a class="menu-list__link" href="#">Услуги
              <svg class="menu-list__icon">
                <use href="#arrow-down"></use>
              </svg>
            </a>

            <ul class="menu-sublist">
              <li class="menu-sublist__item">
                <a class="menu-sublist__link" href="#">Монтаж</a>
              </li>
              <li class="menu-sublist__item">
                <a class="menu-sublist__link" href="#">Проектирование</a>
              </li>
              <li class="menu-sublist__item">
                <a class="menu-sublist__link" href="#">Обслуживание</a>
              </li>
            </ul>
          </li>

          <li class="menu-list__item">
            <a class="menu-list__link" href="#">Раскрытие информации</a>
          </li>

          <li class="menu-list__item">
            <a class="menu-list__link" href="#">Абонентам</a>
          </li>

          <li class="menu-list__item">
            <a class="menu-list__link" href="#">Наши объекты</a>
          </li>
          <li class="menu-list__item">
            <a class="menu-list__link" href="#">Новости</a>
          </li>
          <li class="menu-list__item">
            <a class="menu-list__link" href="#">Контакты</a>
          </li>

        </ul>
      </nav>

      <div class="header__contacts">
        <a class="header__contacts-tel" href="tel:+71234563810">+7(123) 456-38-10</a>
        <a class="header__contacts-mail" href="mailto:yourmail@company.com">yourmail@company.com</a>
      </div>
    </div>
  </div>
</header>
