<div class="container">
   <div class="header__menu menu">

      <a class="logo" href="index.html">
         <img class="logo__img" src="img/logo.png" alt="">
         <img class="logo__img  logo__img--black" src="img/logo-black.png" alt="">
      </a>

      <nav class="menu__body">
         <ul class="menu__list">
            <li class="menu__item">
               <a class="menu__link" href="#">О компании
                  <svg class="menu__arrow">
                     <use href="#arrow"></use>
                  </svg>
               </a>

               <ul class="menu__sub-list">
                  <li class="menu__sub-item"><a class="menu__sub-link" href="#">О нас</a></li>
                  <li class="menu__sub-item"><a class="menu__sub-link" href="#">Реквизиты</a></li>
                  <li class="menu__sub-item"><a class="menu__sub-link" href="#">Закупки</a></li>
                  <li class="menu__sub-item"><a class="menu__sub-link" href="#">Партнеры</a></li>
               </ul>
            </li>
            <li class="menu__item">
               <a class="menu__link" href="services.html">Услуги
                  <svg class="menu__arrow">
                     <use href="#arrow"></use>
                  </svg>
               </a>

               <ul class="menu__sub-list">
                  <li class="menu__sub-item"><a class="menu__sub-link" href="services-article.html">Монтаж</a></li>
                  <li class="menu__sub-item"><a class="menu__sub-link" href="services-article.html">Проектирование</a>
                  </li>
                  <li class="menu__sub-item"><a class="menu__sub-link" href="services-article.html">Обслуживание</a>
                  </li>
               </ul>
            </li>
            <li class="menu__item">
               <a class="menu__link" href="pricing.html">Абонентам
                  <svg class="menu__arrow">
                     <use href="#arrow"></use>
                  </svg>
               </a>

               <ul class="menu__sub-list">
                  <li class="menu__sub-item"><a class="menu__sub-link" href="pricing.html">Тарифы</a></li>
                  <li class="menu__sub-item"><a class="menu__sub-link" href="licenses.html">Лицензии</a></li>
               </ul>
            </li>
            <li class="menu__item">
               <a class="menu__link" href="objects-article.html">Наши объекты</a>
            </li>
            <li class="menu__item">
               <a class="menu__link" href="../news.html">Новости</a>
            </li>
            <li class="menu__item">
               <a class="menu__link" href="../contacts.html">Контакты</a>
            </li>
         </ul>
      </nav>

      <div class="menu__contacts">
         <ul class="menu__contacts-list">
            <li>
               <a class="menu__contacts-link" href="tel:+71234561893">+7(123) 456-18-93</a>
            </li>
            <li>
               <a class="menu__contacts-link" href="mailto:yourmail@company.com"><span>yourmail@company.com</span></a>
            </li>
         </ul>
      </div>

      <div class="menu__burger">
         <span></span>
      </div>

   </div>
</div>
