@import '_vars';
@import '_mixins';
@import '_fonts';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "asd", sans-serif;
  background-color: $white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.site-container {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

.is-hidden {
  display: none !important;
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}
