@import "_vars";
@import "_mixins";
@import "_fonts";

html {
   font-size: 10px;
   box-sizing: border-box;
}

ul[class],
ol[class] {
   padding: 0;
}

html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

ul[class],
ol[class] {
   padding: 0;
}
ul[class] {
   list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}
img {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
}

body {
   margin: 0;

   @include adaptiv-font(16, 12);
   font-family: "TT Norms", sans-serif;
   color: $black-light;
   background-color: $white;

   position: relative;
}

a {
   display: inline-block;

   text-decoration: none;
   color: $white;
}

.site-container {
//   overflow: hidden;
  &--bg-gray {
     background-color: #FAFAFA;
  }
}

.container {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 141rem;
}
.container-fluid {
   max-width: 100%;
   margin: 0 auto;
}

.is-hidden {
   display: none !important;
}

.for-mobile {
   display: none;

   @include mobile {
      display: block;
   }
}

.btn-reset {
   border: none;
   background: transparent;
   cursor: pointer;
}

h1 {
   @include adaptiv-font(54, 30);
   line-height: 1.5;
   font-weight: 800;
   color: $white;
}
h2 {
   @include adaptiv-font(46, 24);
   line-height: 1.5;
   font-weight: 700;
   color: $black;
}
h4 {
   @include adaptiv-font(22, 18);
   line-height: 1.5;
   font-weight: 700;
   color: $black;
}
h5 {
   @include adaptiv-font(18, 15);
   font-weight: 500;
   line-height: 1.5;
}
p {
   @include adaptiv-font(16, 12);
}
section {
   margin-top: 7.5em;
}
.section__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 3.125em;

   &--mobile {
      display: none;
   }
   &-title {
      line-height: 1;
   }
   &-left {
      display: flex;
      align-items: center;
   }
   &-num {
      margin: 0 1.2em;

      @include adaptiv-font(20, 14);
      color: $blue;
      font-weight: 700;
   }
   &-link {
      display: flex;
      align-items: center;

      font-size: 1.5rem;
      color: $black;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
   }
   &-icon {
      margin-left: 1.5rem;

      width: 1rem;
      height: 1.4rem;
   }
}
.section-pagination {
   display: flex;
   justify-content: center;
   align-items: center;
}
.section-pagination__item,
.section-pagination__arrow {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
   height: 5rem;

   border: 1px solid #dbdbdb;
   background-color: transparent;

   transition: all 0.1s linear;
}
.section-pagination__item {
   color: $black;
   font-weight: 600;
   text-align: center;
   font-size: 1.6rem;

   &--active,
   &:hover {
      color: $white;

      border-color: $blue;
      background-color: $blue;
   }
}
.section-pagination__arrow {
   margin: 0 0.5rem;
   &:hover {
      border-color: $blue;
      .section-pagination__arrow-icon {
         fill: $blue;

      }
   }
   &-icon {
      width: 1.2rem;
      height: 1.2rem;
      fill: #dbdbdb;

      &--prev {
         transform: rotate(180deg);
      }
   }
}

/*   breadcrumb   */
.breadcrumb {
   padding: 2rem 0 1rem;
}
.breadcrumb__list {
   display: flex;
}
.breadcrumb__item {
   &:last-child {
      .breadcrumb__item-link {
         color: $blue;
      }
   }
   &:not(:last-child)::after {
      content: "/";
      display: inline-block;
      padding: 0 0.5rem 0 0.3rem;
      font-size: 1.2rem;

      color: #bababa;
   }

   &-link {
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: capitalize;
      color: #bababa;

      transition: all 0.1s linear;

      &:hover {
         color: $blue;
      }
   }
}
.breadcrumb__link {
   &::after {
      content: "/";
   }
}
/* Logo */
.logo {
}
.logo__img {
   max-width: 9rem;
   &--black {
      display: none;
   }
}
/* Menu */
.menu__body {
}
.menu__list {
   display: flex;
   margin: 0;
}
.menu__item {
   position: relative;
   padding: 1.6rem;

   &:hover {
      .menu__sub-list {
         max-width: inherit;
         visibility: visible;
         opacity: 1;
         top: 100%;
      }
      .menu__link {
         color: $blue;
      }
      .menu__icon {
         fill: $blue;
         transform: rotate(-90deg);
      }
   }
}
.menu__link {
   display: flex;
   align-items: center;
   transition: all 0.1s linear;

   text-transform: uppercase;
   font-size: 1.2rem;
   font-weight: 700;
}
.menu__icon {
   margin-left: 1rem;
   width: 1rem;
   height: 1rem;

   fill: $white;
   transform: rotate(90deg);
   transition: fill 0.1s linear, transform 0.2s linear;
}
/* Sub-menu */
.menu__sub-list {
   max-width: 0;
   padding: 2.5rem;
   max-width: 0;

   background-color: $black-bg;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   opacity: 0;
   visibility: hidden;

   position: absolute;
   top: 110%;
   left: 50%;
   transform: translateX(-50%);
   transition: all 0.3s ease;
}
.menu__sub-item {
   padding: 0.5rem;
   width: 100%;
}
.menu__sub-link {
   font-size: 18px;
   color: $white;

   transition: all 0.1s linear;
   &:hover {
      color: $blue;
   }
}
/* Burger */
.burger {
   display: none;
   width: 3rem;
   height: 2.2rem;

   cursor: pointer;

   position: relative;
   z-index: 120;

   span,
   &::before,
   &::after {
      width: 100%;
      height: 0.2rem;

      background-color: $white;

      position: absolute;
      left: 0;

      transition: all 0.3s linear;
   }
   span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   &::before,
   &::after {
      content: "";
   }
   &::before {
      top: 0;
   }
   &::after {
      bottom: 0;
   }
}

/* Footer */
.footer {
   padding: 5rem 0;
   background-color: $black-bg;
}
.footer-bottom {
   padding-top: 3rem;

   border-top: 1px solid #464958;

   &__list {
      display: flex;
      justify-content: space-between;
   }
   &__link {
      color: $gray;
      &:hover {
         text-decoration: underline;
      }
   }
}
.footer__inner {
   display: flex;
   justify-content: space-between;
   padding-bottom: 3rem;
   flex-wrap: wrap;
}
.footer__header {
   &-subtitle {
      margin-top: 1rem;

      font-size: 1.2rem;
      line-height: 1.2;
      font-weight: 500;
      color: $white;
   }
}
/* footer__menu */
.footer__menu {
   &-item {
      max-width: 23rem;

      font-size: 1.6rem;
      color: $white;
      line-height: 1.5;
   }
   &-title {
      font-size: 1.4rem;
      color: $gray;
      font-weight: 500;

      &--mt2r {
         margin-top: 2rem;
      }
   }
   &-link {
      padding: 0.5rem 0;
      transition: all 0.1s linear;
      &:hover {
         color: $blue;
      }
      &--tel {
         font-size: 2.4rem;
         font-weight: 500;
      }
   }
}
