/* desktop (1400px) */
@include desktop {
}
@media (min-width: 1301px) {
   .menu__item {
   }
}
@media (max-width: 1300px) {
   .burger {
      display: block;
      &--open {
      }
   }

   .menu__body {
      transform: translateY(-200%);
      position: fixed;
      width: 100%;
      height: 100%;
      padding: 8rem 3rem;
      overflow: auto;

      background-color: $black-bg;

      top: 0;
      left: 0;

      transition: all 0.3s;
      &--open {
         transform: translateY(0);
      }
   }
   .menu__list {
      flex-direction: column;
      width: 100%;
   }

   .menu__item {
      cursor: pointer;

      &:not(:first-child) {
         border-top: 1px solid #2c2f37;
      }
      &:hover {
         .menu__icon {
            transform: rotate(90deg);
         }
         .menu__sub-list {
            display: block;
         }
      }
      &:active {
         background-color: none;
      }
      &--active {
         .menu__icon {
            transform: rotate(-90deg);
         }
         &:hover {
            .menu__icon {
               transform: rotate(-90deg);
            }
         }
      }
   }
   .menu__link {
      font-size: 2rem;
      justify-content: space-between;
   }

   .menu__sub-list {
      display: none;
      position: relative;
      padding: 0;
      padding-top: 1rem;
      max-width: 100%;
      background-color: transparent;
      box-shadow: none;

      .menu__sub-item {
         padding: 0.7rem;
      }
   }

   .header__contacts {
      &-mail {
         display: none;
      }
   }
   /* Activity */
   .activity__inner {
      flex-direction: column;
      padding: 0 1.5rem;
   }
   .activity__item {
      margin: 0 0 0.7em;
      height: 12.5em;

      &-content {
         height: 4.1em;
      }
   }
   .activity__item-img {
      bottom: 0;
      right: 0;
      object-fit: cover;
      height: calc(100% - 4.1em);
   }
}

@media (max-width: 1200px) {
   /* News */
   .news__inner {
   }
   // .news__item {
   //    &:not(:first-child) {
   //       margin-left: 0;
   //    }
   //    margin-bottom: 1em;
   // }
   /* contacts */
   .contacts__items {
      flex-direction: column;
      align-items: start;
   }
   .contacts__item {
   }
   /* slider-fluid */
   .slider-fluid {
      margin-bottom: 4em;
   }
   .slider-fluid__slide {
      padding: 0;
      &-img {
         position: relative;
         height: 25em;
      }
      &-box {
         padding: 2rem 0;
         max-width: 100%;

         background-color: $white;
      }
      &-wrapper {
         position: relative;
         .slider__buttons {
            .container {
               padding: 0;
            }
         }
      }
   }
}

@media (max-width: 1024px) {
   /* Intro */
   .intro__menu {
      display: none;
   }
   .intro__content {
      &-header {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 0 auto 10rem;
         text-align: center;
      }
   }
   .partners-slider__buttons {
      display: none;
   }
   .intro__slider {
      &-item {
         flex-direction: column;
         align-items: center;
         text-align: center;
      }
      &-content {
         margin-top: 1rem;
      }
      &-btn {
         display: flex !important;
      }
   }
   /* contacts */
   .contacts__form {
      &-wrapper {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      &-title {
         max-width: 100%;
         margin-bottom: 2rem;
      }
   }

}

@media (max-width: 900px) {
   /* Article */
   .article {
      &--services {
         .article__numbers {
            height: 40rem;
         }
      }
   }
   /* Footer */
   .footer-top {
      .container {
         padding: 0 0.5rem;
      }
   }
   .footer__header {
      width: 100%;
      margin-left: 2rem;
      margin-bottom: 2rem;
   }
   .footer__inner {
   }
   .footer__menu {
      padding: 2rem;
   }
   /* footer-bottom */
   .footer-bottom {
      padding-top: 2rem;
   }
   .footer-bottom__list {
      flex-direction: column;
   }
   .footer-bottom__item {
      &:not(:last-child) {
         margin-bottom: 1rem;
      }
   }
   /* services-slider */
   .services-slider {
      &__slide {
         height: 27.5em !important;
      }
   }
}

@media (max-width: 768px) {
   /* Global */
   section {
      margin-top: 4em;
   }
   .breadcrumb {
      display: none;
   }
   .section__header {
      margin-bottom: 2em;
      &-left {
         flex-direction: column;
         align-items: start;
      }
      &-num {
         margin: 0 0 0.5em;
      }
   }
   /* Article */
   .article {
      &--news {
         .article__table {
            width: 100%;
            &-title {
               display: none;
            }
            &-item {
               min-width: 100%;
               max-width: 100%;
               width: 100%;
               display: flex;
               flex-direction: column;

               text-align: center;
               &:not(:first-child) {
                  margin-bottom: 1rem;
               }
            }
            &-cell {
               width: 100%;
               min-width: 100%;
               max-width: 100%;
            }
         }
      }
      &--objects {
         flex-direction: column;

         .article__header {
            align-items: start;
            margin: 0;

            &-box {
               min-width: 100%;
               padding: 2rem 1.5rem;
            }
         }
         .article__numbers {
            flex-direction: row;

            margin-left: 1.5rem;
            margin-top: 5rem;

            position: sticky;
            top: 2rem;
            &-item {
               &:not(:last-child) {
                  margin-bottom: 0;
                  margin-right: 4em;
               }
            }
            &-icon {
               display: none;
            }
         }
         .article__body {
            margin-top: 5rem;
            margin-left: 0;
         }
      }

      &--services {
         .article__header {
            flex-direction: column;
            .article__text {
               width: 100%;
               padding: 5rem 1.5rem;
            }
            &-box {
               width: 100%;
               padding: 2rem 1.5rem 3rem;
            }
         }
         .article__numbers {
            order: -1;
            width: 100%;
            padding: 0 5rem;
            align-items: start;
            height: 41rem;

            position: static;
         }
         .article__body {
            flex-direction: column;
            &-wrapper {
               width: 100%;
               padding: 0 1.5rem;
            }
            .article__text {
               padding-right: 0;
            }
         }
      }
      .article__body {
         ol,
         ul {
            padding-left: 1em;
         }
      }
      .article__slider {
         margin: 5rem 0;
         max-width: 61.25em;
         width: 100%;
         height: 23em;

         &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         &-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            z-index: inherit;
            &--prev {
               left: 0;
            }
         }
      }
   }
   /* Intro */
   .intro {
      &--sm {
         height: 24rem;
      }
   }
   /* Form */
   .form {
      flex-direction: column;
      align-items: start;
      justify-content: center;
   }
   .form__wrapper {
      margin-bottom: .5rem;
      max-width: 100%;
   }
   .form__item {
      max-width: 40rem;

      &--area {
         margin-left: 0;
         height: 10rem;
         max-width: 40rem;
      }
   }
   /* services */
   .services {
      margin-top: 15rem;
      .container {
         padding: 0;
      }
   }
   /* services-slider */
   .services-slider {
      &__slide {
         height: 22em !important;
      }
   }
   .services-slider__buttons {
      .services-slider__btn-prev {
         left: 0;
      }
      .services-slider__btn-next {
         right: 0;
      }
   }
   /* objects */
   .objects__img {
      max-height: 25rem;
   }
   /* pricing */
   .pricing__item {
      &-type {
         display: none;
      }
      &-btn {
         img {
            min-width: 2rem;
            min-height: 2rem;
         }
         span {
            display: none;
         }
      }
   }
   /* contacts */
   .contacts__map {
      &-img {
         min-height: 30rem;
      }
      &-marker {
         position: absolute;
         top: 7rem;
         left: 47%;
      }
   }
   /* licenses */
   .licenses__item {
      max-width: 13.5rem;
   }
   /* News */
   .news {
      &--article {
         margin-top: 12em;
         padding-top: 2rem;
      }
      .section__header-right {
         display: none;
      }
   }
   .section__header {
      &--mobile {
         .section__header-right {
            display: block;
         }
      }
   }
   .news__item {
      &-box {
         max-height: 9.2rem;
         padding: 0.6em 1.2em;
      }
      &-title {
         margin: 0;
      }
      &-content {
         flex-direction: column-reverse;
      }
      &-date {
         padding: 0.6rem 2.5rem;
      }
      &-text {
         display: none;
      }
   }
}
@media (min-width: 1025px) {
   .partners-scrollbar {
      display: none;
   }
   .slider__buttons {
      &-partners {
         display: block;
      }
   }
}
@media (max-width: 1024px) {
   .partners-slider {
      &__container {
         padding: 0 1.5rem;
      }
   }
   .slider__buttons {
      &--partners {
         display: none;
      }
   }

   /* News */

   // .slider__btn {
   //    display: none;
   // }
}

@media (max-width: 470px) {
   .section-pagination__item {
      &:nth-child(6) {
         display: none;
      }
   }

   /* Footer */
   .footer__header {
      width: 100%;
      margin-left: 2rem;
      margin-bottom: 2rem;
   }
   .footer__inner {
   }
   .footer__menu {
      &-title {
         color: $white;
         font-size: 1.6rem;
         font-weight: 500;
      }
   }
   /* services-slider */
   .services-slider {
      &__slide {
         height: 18em !important;
      }
   }
   .slider__btn {
      &--square {
         width: 4rem;
         height: 4rem;
      }
   }
   /* footer-bottom */
   .footer-bottom {
      padding-top: 2rem;
   }
   .footer-bottom__list {
      flex-direction: column;
   }
   .footer-bottom__item {
      &:not(:last-child) {
         margin-bottom: 1rem;
      }
   }

   /* slider-fluid */
   .slider-fluid__slide {
      &-img {
         height: 15em;
      }
   }
}
@media (max-width: 380px) {
   .section-pagination__item {
      &:nth-child(5) {
         display: none;
      }
   }
}

/* tablet (1024px) */
@include tablet {
}

/* mobile (768px) */
@include mobile {
}
