@import "_global";
@import "_vars";
@import "_mixins";
@import "_fonts";

/* Header */
.header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 110;
}
.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 3rem 0;
}
.header__contacts {
   display: flex;
   flex-direction: column;
   &-tel {
      color: $white;
      font-weight: 500;
      &:hover {
         text-decoration: underline;
         color: $blue;
      }
   }
   &-mail {
      margin-top: 1rem;

      color: $gray-light;
      &:hover {
         text-decoration: underline;
         color: $blue;
      }
   }
}

/* Intro */
.intro {
   height: 100vh;
   position: relative;
   &-container {
      height: 100%;
   }
}
.intro__media {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;

   background: url(../img/intro-bg.jpg) no-repeat center;
   background-size: cover;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 90;

      background-color: rgba($black, 0.8);
   }
   &-video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}
.intro__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 100;
   height: 100%;
   position: relative;

   &-header {
      margin-bottom: 10rem;
   }
   &-title {
      margin-bottom: 2rem;
      max-width: 80rem;
   }
   &-subtitle {
      max-width: 60rem;

      font-size: 2.6rem;
      font-weight: 400;
      color: #cfcfcf;
   }
}
.intro__menu {
   display: flex;
   flex-direction: column;
   margin-bottom: 5rem;

   &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   &-item {
      padding: 1rem;
      padding-right: 0;
      position: relative;
      text-align: center;

      &--active {
         .intro__menu-link {
            font-size: 1.6rem;
            color: $blue;
         }

      }
      &:hover {
         .intro__menu-title {
            display: flex;
         }
         .intro__menu-link {
            color: $blue;
         }
      }
   }
   &-title {
      display: none;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 2rem;

      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;

      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1;
      color: $white;
      text-align: center;
      white-space: nowrap;

      background-color: $blue;
   }
   &-link {
      color: #7B7B7B;
      font-size: 1.2rem;
      text-align: center;
   }
}
.intro__items {
   display: flex;
   justify-content: space-between;
   position: absolute;
   bottom: 5rem;
   left: 0;
   right: 0;
   z-index: inherit;
}
.intro__item {
   display: flex;
   &-icon {
      margin-right: 1rem;
      width: 3rem;
      height: 3rem;
      img {
         width: 3rem;
         height: 3rem;
      }
   }
   &-content {
      max-width: 29rem;
   }
   &-title {
      margin-bottom: 0.5rem;

      font-size: 1.6rem;
      color: $white;
      font-weight: 700;
      line-height: 1.5;
   }
   &-text {
      color: #c9c9c9;
      font-size: 1.4rem;
   }
}
